PROJECT_NAME=
BACKEND_CORS_ORIGINS=["http://localhost:8000", "https://localhost:8000", "http://localhost", "https://localhost"]


MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=

JWT_SECRET=
JWT_ALGORITHM=

SMTP_USERNAME=
SMTP_PASSWORD=

