alembic==1.7.7
amqp==5.1.0
anyio==3.5.0
aredis==1.1.8
arrow==1.2.2
asgi-ratelimit==0.8.0
asgiref==3.5.0
bcrypt==3.2.0
billiard==3.6.4.0
binaryornot==0.4.4
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
configobj==5.0.6
cookiecutter==1.7.3
cryptography==3.3.2
dnspython==2.2.1
ecdsa==0.17.0
email-validator==1.1.3
fastapi==0.75.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
jinja2-time==0.2.0
kombu==5.2.4
loguru==0.6.0
Mako==1.2.0
manage-fastapi==1.1.1
MarkupSafe==2.1.1
mysqlclient==2.1.0
numpy==1.22.3
pandas==1.4.1
passlib==1.7.4
poyo==0.5.0
prompt-toolkit==3.0.28
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
PyMySQL==1.0.2
python-dateutil==2.8.2
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
python-slugify==6.1.1
pytz==2021.3
questionary==1.10.0
requests==2.27.1
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.32
starlette==0.17.1
text-unidecode==1.3
toml==0.10.2
typer==0.4.0
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
vine==5.0.0
wcwidth==0.2.5
win32-setctime==1.1.0
